<div class="container">
  <div class="posts">
    <ul>
      <% @list.reverse.each do |post| %>
        <li>
          <a href="/posts/<%= post.id %>">
            <%= post.title %>
          </a>
          <% if post.published %>
            <%= " - live!" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="errors">
   <% if @post.errors.any? %>
      <ul>
        <% @post.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="new-post">

    <form action="/posts" method="post">
      <input type="text" name="title" placeholder="Add a title" class="title" value =<%= "#{@post.title}" %>>
      <input type="hidden" name="id" class="id" value =<%= "#{@post.id}" %>>
      <textarea type="text" name="content" placeholder="Add some content" class="content"><%= "#{@post.content}" %></textarea>
      <div class="published-status">
        <p><input type="radio" name="published" value="false"><span>Draft</span></p>
        <p><input type="radio" name="published" value="true"><span>Live</span></p>
        <div class="button">
          <input type="submit" value="Save">
        </div>
      </div>
    </form>
    <div class="logout">
      <form action="/logout" method='get'>
        <div class ="button">
          <input type="submit" value="Logout">
        </div>
      </form>
    </div>
  </div>    
</div>